.item {
  width: 100%;
  text-decoration: none;
  color: #333;
  margin: 15px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(202, 37, 16, 0.3);
  transition: all 0.3s ease-in-out;

  img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }

  .body {
    padding-top: 0;
  }

  p {
    margin: 15px 0;
    height: 100px;
    overflow: hidden;
    font-size: 16px;
    padding: 5px 15px;
  }

  h4 {
    height: 75px;
    overflow: hidden;
    padding: 5px 15px;
    font-size: 18px;
    background-color: #eee;
    font-weight: 600;
    margin-top: 10px;
  }

  &:hover {
    transform: scale(1.1);
  }

  span {
    background-color: #f1b4b4;
    padding: 3px 7px;
    border-radius: 30px;

  }
}

.cart-message-toast {
  position: fixed;
  /* ثابت على الشاشة */
  top: 20px;
  /* بعيد عن أعلى الشاشة شوية */
  right: 20px;
  /* من جنب اليمين */
  background-color: #28a745;
  /* أخضر للنجاح */
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  /* فوق كل العناصر */
  font-weight: bold;
  animation: slideIn 0.5s ease;
}

/* حركة دخول */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}